.clear
{
	clear:both;
	height:0;
	overflow:hidden;
}
.content1
{
	width:1000px;
	margin:0 auto;
	padding:20px 0;
}
.bann
{
	text-decoration:none;
	font:14px "微软雅黑";
	color:#3c3c3c;
}
.content2
{
	height:350px;
	background:url(../img/huace2.png) 0 0 no-repeat;
	position: relative;
}
.ceg2
{
	height:90px;
	width:100%;
	background:#000;
	position:absolute;
	left:0;
	top:260px;
	opacity:0.7;
}
.ceg3
{
	width:1000px;
	margin:0 auto;
	position:relative;	

}
.tianlan
{
	color:#fff;
	font:18px "微软雅黑";
	position:absolute;
	left:33px;
	top:-28px;
}
.tianl
{
	position:absolute;
	left:19px;
	top:-141px;
}
.ceg4
{
	color:#fff;
	font:12px "微软雅黑";
	position:absolute;
	left:853px;
	top:-26px;
}
.tianl2
{
	margin-left:9px;
}
.tianl3
{
	margin-left:20px;
}
.tianl4
{
	margin-left:10px;
}
.content3
{
	width:1000px;
	margin:0 auto;
	border-bottom:2px solid #51b23e;
	margin-top:29px;
}
.kend
{
	font:22px "微软雅黑";
	color:#fff;
	padding-top:8px 19px;
	background:#51b23e;
	border:0;
	float:left;
}
.kend1
{
	font:18px "微软雅黑";
	color:#51b23e;
	float:left;
	margin-left:36px;
}
.kend2
{
	float:right;
	text-align:right;
}
.kend3
{
	font:14px "微软雅黑";
	color:#3c3c3c;
}
.kend4
{
	margin:0 15px;
}
.kend5
{
	margin-right:11px;
}
.content4
{
	width:1000px;
	margin:0 auto;
}
.kdt
{
	padding-top:30px;
	overflow:hidden;
}
.fud
{
	position: relative;
}
.bg1
{
	width:313px;
	height:220px;
	background:url(../img/kd1.png) 0 0 no-repeat;
	position: relative;
}
.bgom1
{
	width:313px;
	height:220px;
	background:url(../img/kd2.png) 0 0 no-repeat;
	position: relative;
}
.bgom2
{
	width:313px;
	height:220px;
	background:url(../img/kd3.png) 0 0 no-repeat;
	position: relative;
}
.bgom3
{
	width:313px;
	height:220px;
	background:url(../img/kd4.png) 0 0 no-repeat;
	position: relative;
}
.bgom4
{
	width:313px;
	height:220px;
	background:url(../img/kd5.png) 0 0 no-repeat;
	position: relative;
}
.bgom5
{
	width:313px;
	height:220px;
	background:url(../img/kd6.png) 0 0 no-repeat;
	position: relative;
}
.bgom6
{
	width:313px;
	height:220px;
	background:url(../img/kd7.png) 0 0 no-repeat;
	position: relative;
}
.bgom7
{
	width:313px;
	height:220px;
	background:url(../img/kd8.png) 0 0 no-repeat;
	position: relative;
}
.bgom8
{
	width:313px;
	height:220px;
	background:url(../img/kd9.png) 0 0 no-repeat;
	position: relative;
}
.bgom9
{
	width:313px;
	height:220px;
	background:url(../img/kd10.png) 0 0 no-repeat;
	position: relative;
}
.bgom10
{
	width:313px;
	height:220px;
	background:url(../img/kd11.png) 0 0 no-repeat;
	position: relative;
}
.bgom11
{
	width:313px;
	height:220px;
	background:url(../img/kd12.png) 0 0 no-repeat;
	position: relative;
}
.bgom12
{
	width:313px;
	height:220px;
	background:url(../img/kd12.png) 0 0 no-repeat;
	position: relative;
}
.bgom13
{
	width:313px;
	height:220px;
	background:url(../img/kd5.png) 0 0 no-repeat;
	position: relative;
}
.bgom14
{
	width:313px;
	height:220px;
	background:url(../img/kd6.png) 0 0 no-repeat;
	position: relative;
}
.bg2
{
	width:313px;
	height:30px;
	background:#000;
	position:absolute;
	left:0;
	top:190px;
	opacity:0.7;
}
.bg3
{
	padding:7px 0;
	position: absolute;
	left:155px;
	top:190px;
}
.bgn,.bgn1
{
	font:12px "微软雅黑";
	color:#fff;
}
.bgn
{
	padding-left:9px;
	padding-right:20px;
}
.bgn1
{
	padding:0 10px;
}
#cenr
{
	margin-left:31px;
	margin-right:30px;
}
.fud,.cenr
{
	float:left;
}