body{min-width: 2000px}
.shead{border-bottom: 1px solid black;}
.sshead{width: 970px;margin:0 auto;}
.sleft{width: 147px;height: 97px;background: url(../img/bj.png) 0 0 no-repeat;float:left;margin-top: 14px;padding-bottom: 1px;}
.sr1{color: #ffa000;font-size: 14px;}
.sr2{width: 154px;height:26px;}
.sr3{border-top-right-radius: 5px;border-bottom-right-radius: 5px;width: 28px;height:30px;background: url(../img/bj.png) -265px -32px no-repeat;padding-bottom:10px;border:1px solid #ccc;}
.sright{float:right;margin-top: 22px;word-spacing:5px;}
.sshead a{text-decoration:none;font-size: 14px;color: black;}
.sright img{vertical-align:middle;}
.sright .sxl{padding-bottom: 10px;}
.xiugaitou{overflow: hidden;}
.sshead p{float: left;word-spacing: 37px;margin-left: 56px;margin-top:28px;}
.xiugaitou a{font-size: 18px;}
.four{height: 4px;;background-color: #176fbb;}
.clear{height: 0px;clear: both;overflow: hidden;}

/*头部结束*/
.four{height: 4px;;background-color: #176fbb;width: 2003px;}
.sliuwan{width: 2003px;;background-color:#023d4d;text-align: center;line-height: 49px;color:white;}
.clear{height: 0;overflow: hidden;clear: both;}
.sbeijing img{float: left;}
.sbj1{width: 2003px;height: 877px;background:url(../img/bj1.png) 0 0 no-repeat;overflow: hidden;}
.sk{width: 374px;height: 382px;float:left;margin-top: 205px;overflow: hidden;margin-left: 238px;}
.sk1{width: 374px;height: 382px;float:left;margin-top: 205px;overflow: hidden;margin-left: 15px;}
.sk a{float: left;}
.sk1 a{float: left;}
.wz{width: 363px;height: 126px;background-color: white;margin-top: -4px;margin-left:10px;}
.stw{font-size: 18px;margin-left: 10px;}
.stw1{font-size: 16px;color: #747474;margin-left: 10px;margin-top: 20px;}
.sgd{float: right;width: 127px;border:1px solid white;text-align: center;line-height:34px;margin-right: 223px;margin-top: 52px;}
.sgd a{color: white;font-size: 16px;text-decoration: none;}
.sbj2{height: 828px;width: 2003px;background:url(../img/bj2.png) 0 0 no-repeat;}
.sbj2 a{float: right;margin-right: 241px;margin-top: 146px;}
.sbj3{width: 2003px;background-color: #023c4d;text-align: center;}
.sbj3 a{width: 120px;text-decoration: none;border:1px solid white;color: white;margin-left: 29px;float: left;margin-top: 122px;line-height: 32px;}
.s33{width: 1348px;overflow: hidden;margin:0 auto;}
.sbj3 img{padding-top:8px;padding-bottom: 11px;float: left;margin-left: 10px;}
.sbj4{width: 2003px;background:url(../img/bj3.png) 0 0 no-repeat;}
.sbj41{width: 1184px;margin:0 auto;overflow: hidden;padding-top: 99px;padding-bottom: 132px;}
.f1,.f3{float: left;}
.f2,.f4{float: right;}
.f3,.f4{margin-top: 28px;padding-bottom: 1px;}
/*中间结束*/
.sbottom{background-color: #023c4d;border-bottom: 1px solid white;}
.ssb1{width: 806px;margin: 0 auto;overflow: hidden;}
.ssb2{width: 85px;padding-top:22px;padding-bottom: 22px;float: left;}
.ssb2 a{text-decoration: none;color: white;}
.ssa2{font-size: 18px;}  
.ssa3{margin-top: 18px;}
.ssb4{width: 85px;padding:22px 0px;float: left;margin-left: 67px;}
.ssb4 a{text-decoration: none;color: white;}
.ssb11{margin-top: 10px;}
.ssb5{width:182px;float: right;color: white;padding:22px 0px;}
.ssc11{font-size:28px;}
.ssc12,.ssc13{font-size: 18px; }
.ssc14{width: 129px;text-align: center;line-height: 25px;background-color: white;}
.ssc15{text-decoration: none;color: #59727c}
.ssc12,.ssc13,.ssc14{margin-top: 17px;}
.sdd1{color: #d0d0d0;background-color: #023c4d;text-align: center;line-height: 58px;}
.clear{clear: both;}
.sdd1 a{color: white}
